<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum :: Home Page</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom -->
        <link href="css/custom.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="font-awesome-4.0.3/css/font-awesome.min.css">

        <!-- CSS STYLE-->
        <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />

        <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
        <style>
            /* Popup container - can be anything you want */
            .popup {
                position: relative;
                display: inline-block;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /* The actual popup */
            .popup .popuptext {git
                visibility: hidden;
                width: 160px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 8px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -80px;
            }

            /* Popup arrow */
            .popup .popuptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

            /* Toggle this class - hide and show the popup */
            .popup .show {
                visibility: visible;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }

            /* Add animation (fade in the popup) */
            @-webkit-keyframes fadeIn {
                from {opacity: 0;}
                to {opacity: 1;}
            }

            @keyframes fadeIn {
                from {opacity: 0;}
                to {opacity:1 ;}
            }
        </style>
    </head>
    <body>

        <div class="container-fluid">

            <!-- Slider -->
            <div class="tp-banner-container">
                <div class="tp-banner" >
                    <ul>	
                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                            <!-- MAIN IMAGE -->
                            <img src="images/landslide1.png"  alt="slidebg1"  data-bgfit="100%" data-bgposition="top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //Slider -->

            <div class="headernav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="/all"><img src="images/logo.jpg" alt=""  /></a></div>
                        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                            <div class="dropdown">
                                <a data-toggle="dropdown" href="#">Risk Level</a> <b class="caret"></b>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-5" href="/all">High</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-5" href="/all">Medium</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-5" href="/all">Law</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                            <div class="wrap">
                                <form action="/all#" method="post" class="form">
                                    <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics"></div>
                                    <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left">                            
                                <form action="/addq" method="get" class="form">
                                    <button class="btn btn-primary">New Post</button>
                                </form>
                            </div>
                            <div class="env pull-left"><i class="fa fa-envelope"></i></div>

                            <div  class="avatar pull-left dropdown">
                                <a data-toggle="dropdown" href="/all#"><img src="images/avatar.jpg" alt="" /></a> <b class="caret"></b>
                                <div class="status green">&nbsp;</div>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/all#">My Profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="/all#">Log Out</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-4" href="/all#">Create account</a></li>
                                </ul>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>


            <section class="content">
                <div class="container">
                    <div class="row">
                        
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <!-- POST -->
                            {{#each todos as |q|}}
                                <div class="post">
                                    <div class="wrap-ut pull-left">
                                        <div class="userinfo pull-left">
                                            <div class="avatar">
                                                <img src="images/avatar.jpg" alt="" />
                                                <div class="status green">&nbsp;</div>
                                            </div>

                                            
                                        </div>
                                        <div class="posttext pull-left">
                                            <h2><a href="/adda?qid={{q.qid}}" id="ques{{q.qid}}">{{q.title}}</a></h2>
                                            <p>{{q.descript}}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="postinfo pull-left">
                                        <div class="comments">
                                            

                                        </div>
                                        <div class="views"><i class="fa fa-eye"></i> 1,568</div>
                                        <div class="time"><i class="fa fa-clock-o"></i> 24 min</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- POST -->

                            {{/each}}
                        </div>
                        <div class="col-lg-4 col-md-4">

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>Important Links</h3>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <ul class="cats">
                                        <li><a href="http://www.disastermin.gov.lk/">National Building Research Organisation<span class="badge pull-right"></span></a></li>
                                        <li><a href="http://www.meteo.gov.lk/">Ministry of Irrigation <span class="badge pull-right"></span></a></li>
                                        <li><a href="http://www.dmc.gov.lk/index_english.htm">Department of Meteorology <span class="badge pull-right"></span></a></li>
                                        <li><a href="http://www.ndrsc.gov.lk/web/">Disaster Management Centre <span class="badge pull-right"></span></a></li>
                                        <li><a href="http://www.dmc.gov.lk/index.php?lang=en">National Disaster Management Centre<span class="badge pull-right"></span></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>Highly Affected Areas</h3>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <p></p>
                                    <form action="/all#" method="post" class="form">
                                        <table class="poll">
                                            <tr>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                                            Mavanella
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="chbox">
                                                    <input id="opt1" type="radio" name="opt" value="1">  
                                                    <label for="opt1"></label>  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar color2" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 63%">
                                                            Ginigathhena
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="chbox">
                                                    <input id="opt2" type="radio" name="opt" value="2" checked>  
                                                    <label for="opt2"></label>  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar color3" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                                            Maliboda
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="chbox">
                                                    <input id="opt3" type="radio" name="opt" value="3">  
                                                    <label for="opt3"></label>  
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                    <p class="smal"></p>
                                </div>
                            </div>

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>Deadliest Landslides In Recorded History</h3>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <a href="https://en.wikipedia.org/wiki/1920_Haiyuan_earthquake={{quest.0.qid}}">Haiyuan Flows, Ningxia, China, December 1920 (100,000+ deaths)</a>
                                </div>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <a href="https://en.wikipedia.org/wiki/Vargas_tragedy={{quest.0.qid}}">Vargas Tragedy, Vargas, Venezuela, December 1999 (30,000 deaths)</a>
                                </div>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <a href="https://en.wikipedia.org/wiki/Armero_tragedy={{quest.0.qid}}">Armero Tragedy, Tolima, Colombia, November 1985 (23,000 deaths)</a>
                                </div>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <a href="https://www.peruviantimes.com/31/yungay-1970-2009-remembering-the-tragedy-of-the-earthquake/3073/={{quest.0.qid}}">70 Nevado Huascaran Debris Fall, Yungay, Peru, May 1970 (22,000 deaths)</a>
                                </div>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <a href="https://en.wikipedia.org/wiki/2013_North_India_floods={{quest.0.qid}}">North India Flood mudslides, Kedarnath, India, June 2013 (5,700 deaths)</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-xs-12">
                            <div class="pull-left"><a href="/all#" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
                            <div class="pull-left">
                                <ul class="paginationforum">
                                    <li class="hidden-xs"><a href="/all#">1</a></li>
                                    <li class="hidden-xs"><a href="/all#">2</a></li>
                                    <li class="hidden-xs"><a href="/all#">3</a></li>
                                    <li class="hidden-xs"><a href="/all#">4</a></li>
                                    <li><a href="/all#">5</a></li>
                                    <li><a href="/all#">6</a></li>
                                    <li><a href="/all#" class="active">7</a></li>
                                    <li><a href="/all#">8</a></li>
                                    <li class="hidden-xs"><a href="/all#">9</a></li>
                                    <li class="hidden-xs"><a href="/all#">10</a></li>
                                    <li class="hidden-xs hidden-md"><a href="/all#">11</a></li>
                                    <li class="hidden-xs hidden-md"><a href="/all#">12</a></li>
                                    <li class="hidden-xs hidden-sm hidden-md"><a href="/all#">13</a></li>
                                    <li><a href="/all#">1586</a></li>
                                </ul>
                            </div>
                            <div class="pull-left"><a href="/all#" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>


            </section>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="/all#"><img src="images/logo.jpg" alt=""  /></a></div>
                        <div class="col-lg-8 col-xs-9 col-sm-5 ">Landslide Notification Forum</div>
                        <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                            <ul class="socialicons">
                                <li><a href="/all#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="/all#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="/all#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="/all#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="/all#"><i class="fa fa-cloud"></i></a></li>
                                <li><a href="/all#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- get jQuery from the google apis -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
 

        <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <script src="js/bootstrap.min.js"></script>


        <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
        <script type="text/javascript">
            
            var revapi;

            jQuery(document).ready(function() {
                "use strict";
                revapi = jQuery('.tp-banner').revolution(
                        {
                            delay: 15000,
                            startwidth: 1200,
                            startheight: 278,
                            hideThumbs: 10,
                            fullWidth: "on"
                        });

            });	//ready

        </script>
        <script>
            // When the user clicks on div, open the popup
            function myFunction() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
            }
        </script>

        <!-- END REVOLUTION SLIDER -->
    </body>
</html>